{% load static %}
{% load i18n %}

<!-- Reset Password Modal-->
<div class="modal fade resetPassword-modal" id="resetPasswordModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-title">
                    <h4>{% trans "RESET PASSWORD" %}</h4>
                </div>
                <div class="body-content">
                    <h4>{% trans "Forgot Your Password?" %}</h4>
                    <p>{% trans "Enter your email to receive a link for resetting your password." %}</p>
                    <form id="forgot-password-form" novalidate>
                        <div class="form-group">
                            <label for="id-reset-email">{% trans "Email" %}</label>
                            <input class="form-control" id="id-reset-email" name="email" type="email" placeholder="{% trans 'Enter your email' %}"/>
                            <div id="forgot-password-form-error-email" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <button class="submit-btn">
                                {% trans 'SEND LINK TO EMAIL' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade emailVerificationModal-modal" id="resetPasswordModalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-title">
                    <h4>{% trans 'RESET PASSWORD' %}</h4>
                </div>
                <div class="body-content">
                    <h4>{% trans 'Check Your Email!' %}</h4>
                    <p>{% trans 'Please check your email and click on the link to reset your password.' %}</p>
                    <form onsubmit="javascript.void(0);">
                        <div class="form-group">
                            <button class="submit-btn" data-dismiss="modal" aria-label="{% trans 'Close' %}">{% trans 'OK' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reset Password Set up your New Password Modal-->
<div class="modal fade newPassword-modal" id="newPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-title">
                    <h4>{% trans 'RESET PASSWORD' %}</h4>
                </div>
                <div class="body-content">
                    <h4>{% trans 'Set Up Your New Password!' %}</h4>
                    <p>{% trans 'Choose a strong password!' %}</p>
                    <form id="reset-password-form" novalidate>
                        <input type="hidden" name="token" value="{{request.GET.rpt}}">
                        <div class="form-group">
                            <label for="reset-new-password">{% trans "New Password" %}</label>
                            <input class="form-control" id="reset-new-password" type="password" name="password" placeholder="{% trans 'Enter your new password' %}"/>
                            <div id="reset-password-form-error-password" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="reset-confirm-password">{% trans "Confirm New Password" %}</label>
                            <input class="form-control" id="reset-confirm-password" type="password" name="password_confirmation" placeholder="{% trans 'Confirm your new password' %}"/>
                            <div id="reset-password-form-error-password_confirmation" class="invalid-feedback"></div>
                            <div id="reset-password-form-error-__all__" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <button class="submit-btn">
                                {% trans 'UPDATE PASSWORD' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reset Password Updated Successfully! Modal-->
<div class="modal fade passwordUpdatedSuccessfully-modal" id="passwordUpdatedSuccessfullyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="modal-title">
                    <h4>{% trans 'RESET PASSWORD' %}</h4>
                </div>
                <div class="body-content">
                    <img src="{% static 'assets/modals/success.png' %}" width="60px" />
                    <h4>
                        {% trans 'Your password has been updated successfully!' %}
                    </h4>
                    <form onsubmit="javascript.void(0);">
                        <div class="form-group">
                            <button class="submit-btn" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">
                                {% trans 'GO TO LOGIN' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>